<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
      #myCanvas {
        border: 1px solid #9C9898;
      }
      .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 10;
      }
    </style>
    <script src="../controllers/kineticJS.js"></script>
  </head>
  <body>
    <div class=overlay id="container" ></div>
    <script src="../controllers/default.js"></script>
  </body>
</html>