<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8"/>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
      .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
      }
      #myTextArea {
        position: fixed;
        width: 0px;
        height: 0px;
        z-index: 0;
      }
      #menuArea {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 50px;
        height: 50px;
        z-index: 2;
      }
    </style>
    <script src="../controllers/kineticJS.js"></script>
    <script src="../controllers/store.js"></script>
    <script src="../models/claim.js"></script>
    <script src="../models/canvas.js"></script>
    <script src="../controllers/claimController.js"></script>
    <script src="../controllers/canvasController.js"></script>
  </head>
  <body>
    <div class=overlay id="container" ></div>
    <div id="myTextArea"></div>
    <div id="menuArea">
      <!-- <img src="hamburgerSmall.png"> -->
    </div>
    <script src="../controllers/default.js"></script>
  </body>
</html>